$very-white-color: #ffffff;
$white-color: #f8f7f7;
$content-color: #7c7c7c;
$hover-color: #070707;
$header-height: 80px;
$nav-bg-color: #141414ef;
$background-main-color:#272323;
$nav-item-color: #b4b2b2;
$roboto-font: 'Roboto', sans-serif;
$regular-font: 0.9rem;
$letter-spacing: 0.1rem;
