@charset "UTF-8";
@font-face {
  font-family: "Butler";
  src: url("../font/Butler-Free-Bd.woff") format("woff");
  src: url("../font/Butler-Free-Bd.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Noto Serif JP", sans-serif;
}

body {
  inset: 0px;
  background-color: #34343E;
}

main {
  z-index: -20;
}

#mouse-stalker {
  pointer-events: none;
  position: fixed;
  top: -10px;
  left: -10px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s, width 0.3s, height 0.3s;
  transition-timing-function: ease-out;
  z-index: 999;
}

#mouse-stalker.is_active {
  top: -40px;
  left: -40px;
  width: 130px;
  height: 130px;
  transition: transform 0.2s, width 0.3s, height 0.3s;
  background: none;
  border: rgba(255, 255, 255, 0.8274509804) 1.7px solid;
  mix-blend-mode: difference;
}

#mouse-stalker.is_shrinking {
  opacity: 0;
  top: -10px;
  left: -10px;
  width: 0px;
  height: 0px;
  transition: transform 0.2s, width 0.3s, height 0.3s, opacity 0.3s;
}

#stalker-text {
  display: none;
  color: #ffffff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -90%);
  text-align: center;
  font-size: 1rem;
}

#mouse-stalker.is_active #stalker-text {
  display: inline;
}

.number {
  color: #f8f7f7;
  border-bottom: #f8f7f7 1px solid;
  padding-bottom: 2px;
  font-size: 0.8rem;
  letter-spacing: 0rem;
  font-family: "Roboto", sans-serif;
  z-index: 10;
}

@media screen and (max-width: 1100px) {
  .out-br {
    display: none;
  }
}
/* header */
.header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin: 0 10px;
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin-top: 10px;
}

.logo img {
  width: 50px;
  height: auto;
  opacity: 85%;
}

.hamburger {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgba(224, 223, 223, 0.4117647059);
  background-color: rgba(163, 163, 163, 0.1294117647);
  cursor: pointer;
  z-index: 21;
  color: #e0dfdf;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.hamburger span {
  position: relative;
  z-index: 22;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.hamburger span .fade-out {
  opacity: 0;
}
.hamburger span .fade-in {
  opacity: 1;
}

.nav {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0px;
  right: -100%;
  background-color: rgba(20, 20, 20, 0.937254902);
  padding: 50px 0;
  transition: all 0.5s;
}

.nav__list {
  padding-top: 4rem;
}

.nav__item {
  overflow: hidden;
}
.nav__item a {
  display: block;
  font-size: 1.4rem;
  color: #b4b2b2;
  text-decoration: none;
  padding: 2rem 0 10px 50px;
  text-transform: uppercase;
  opacity: 0;
}
.nav__item a.show {
  opacity: 1;
  transform: translateY(2em);
  -webkit-animation: nav-pop 1s forwards;
  animation: nav-pop 1s forwards;
}

@-webkit-keyframes nav-pop {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes nav-pop {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
  }
}
.nav__item a:hover {
  color: #ffffff;
  transition: all 0.5s ease;
}

.nav.open {
  right: 0;
}

.shop-jump {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .header__container {
    margin-top: 0px;
  }
  .logo img {
    width: 30px;
  }
  .hamburger {
    width: 60px;
    height: 60px;
    border: 0px;
    background-color: rgba(163, 163, 163, 0);
    font-size: 16px;
  }
  .hamburger::before {
    content: "⦿";
    position: absolute;
    font-size: 0.5rem;
    top: 26.8px;
    left: -4px;
    right: 0;
    bottom: 0;
    color: #e0dfdf;
  }
}
@media (max-height: 500px) {
  .nav__list {
    padding-top: 1rem;
  }
  .nav__item a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem 0 10px 50px;
    text-transform: uppercase;
    opacity: 0;
  }
}
/* loading */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #34343E;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-content img {
  width: 50px;
  height: 50px;
  opacity: 0;
  -webkit-animation: fadeInOut 3s forwards;
  animation: fadeInOut 3s forwards;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main,
header {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

main,
header.loaded {
  opacity: 1;
}

/* mv */
#mv {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mv__bg img {
  position: absolute;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.mv__content {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.mv__title {
  font-size: clamp(2rem, 6vw, 4rem);
  right: 7%;
  font-weight: 500;
  letter-spacing: 0.6rem;
  color: #f3f3f3;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

@media (max-width: 768px) {
  #mouse-stalker {
    display: none;
  }
}
/* about */
#about {
  background-image: linear-gradient(180deg, #34343E, #272323);
  min-height: 1100px;
  position: relative;
  overflow: hidden;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.about__sub-container {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.about__sub-title {
  font-family: "Butler", sans-serif;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: flex-start;
  font-size: clamp(2.3rem, 3vw, 3rem);
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  color: #ccbfbf;
  padding: 100px 150px;
  z-index: 1;
}

.about__text {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 1;
}
.about__text p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 4.8rem;
  letter-spacing: 0.1rem;
  color: #f8f7f7;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.about__img-wrapper {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  visibility: hidden;
  width: 80%;
  margin-left: 10%;
  height: 570px;
}

.about__img {
  -o-object-fit: contain;
  object-fit: contain;
}

.about__img-wrapper .about__img {
  position: relative;
  visibility: visible;
  overflow: hidden;
  width: 25%;
  height: 100%;
  cursor: pointer;
  transition: all 1s ease-in-out;
  filter: brightness(0.7);
}

@media screen and (min-width: 1101px) {
  .about__img-wrapper:hover .about__img:hover {
    width: 80%;
    filter: brightness(1);
  }
  .about__img-wrapper:hover .about__img:not(:hover) {
    opacity: 0.7;
    filter: brightness(0.5);
    width: 20%;
  }
}
.spotlight-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(104, 105, 100, 0.3) 0%, rgba(104, 105, 100, 0) 30%, rgb(42, 42, 48) 60%, rgb(39, 35, 35) 100%);
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  pointer-events: none;
}

@media screen and (max-width: 1100px) {
  .about__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .about__sub-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .about__sub-title {
    line-height: 3.8rem;
    padding: 10%;
  }
  .about__img-wrapper {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
  .about__img-wrapper .about__img {
    width: 40%;
    height: auto;
  }
}
@media screen and (max-width: 1100px) and (min-width: 769px) {
  .about__img-wrapper:hover .about__img:not(:hover) {
    width: 20%;
    filter: brightness(0.5);
  }
}
@media screen and (max-width: 1100px) {
  .about__text {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__text p {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    line-height: 2rem;
    text-align: justify;
  }
}
@media screen and (max-width: 1100px) {
  .about__img {
    position: static;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .about__img.expanded {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1;
  }
  .about__img.expanded img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
@media screen and (max-width: 600px) {
  .about__img-wrapper .about__img {
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-animation: imageFade 20s infinite;
    animation: imageFade 20s infinite;
    display: flex;
    justify-content: center;
  }
  .about__img img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .about__img-wrapper .about__img img {
    display: block;
    max-width: 100%;
  }
  .about__img-wrapper {
    display: block;
  }
  .about__text {
    margin-top: 400px;
  }
  .about__img-wrapper .about__img:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .about__img-wrapper .about__img:nth-child(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  .about__img-wrapper .about__img:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
  }
  .about__img-wrapper .about__img:nth-child(4) {
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
  }
  @-webkit-keyframes imageFade {
    0% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes imageFade {
    0% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 535px) {
  #about {
    min-height: 860px;
  }
  .about__sub-title {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .about__text p {
    margin-top: -50px;
    font-size: 0.9rem;
  }
  .about__img-wrapper .about__img {
    height: 350px;
  }
}
/* project */
#project {
  height: auto;
  min-height: 100vh;
  position: relative;
}

.project__number .number {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slider__inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.slider__text {
  position: absolute;
  z-index: 30;
  font-size: 1rem;
  color: #f8f7f7;
  font-weight: 400;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-shadow: 1px 1px 1px rgb(15, 15, 15);
  height: auto;
  line-height: 4.8rem;
  letter-spacing: 0.1rem;
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.slider__text-item {
  colorvar: #f8f7f7;
  text-align: left;
  overflow: hidden;
}

.slider__nav-container {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-title__text {
  color: #f8f7f7;
  text-shadow: 1px 1px 2px black;
  font-size: 1rem;
  padding: 1.4rem 0;
  letter-spacing: 0.05rem;
  margin-right: 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.slider-title__text.slider-1 {
  transform: translateX(-30px);
}

.slider-title__text.slider-2 {
  transform: translateX(-50px);
}

.slider-title__text.slider-3 {
  transform: translateX(-70px);
}

.slider-title__text.slider-4 {
  transform: translateX(-90px);
}

.slider-title__text.slider-5 {
  transform: translateX(-110px);
}

.slider canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1100px) {
  .slider-title__text.slider-1,
.slider-title__text.slider-2,
.slider-title__text.slider-3,
.slider-title__text.slider-4,
.slider-title__text.slider-5 {
    transform: translateX(0px);
  }
  .slider__nav-container {
    display: flex;
    justify-content: center;
    top: 0%;
    margin-top: 85px;
    right: auto;
    transform: translateY(10%);
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .slide {
    margin-top: auto;
    align-items: center;
  }
  .slider__nav {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    max-width: 100%;
  }
  .slider-title__text {
    writing-mode: horizontal-tb;
    line-height: 3rem;
    margin-right: 20px;
  }
  .slider-title:last-child .slider-title__text {
    margin-right: 0px;
  }
  .slider__text {
    text-orientation: upright;
    writing-mode: horizontal-tb;
    line-height: 2rem;
    padding: 0 10% 10% 10%;
  }
  .slider__text-item {
    text-align: justify;
  }
}
@media screen and (max-height: 600px) {
  .slider__text {
    top: 40%;
  }
}
@media screen and (max-width: 535px) {
  .slider__text {
    font-size: 0.9rem;
  }
  .slider-title__text {
    font-size: 12px;
  }
}
/* production */
#production {
  padding-top: 120px;
  background-color: #272323;
  color: #f8f7f7;
  height: 1100px;
}

.production__image-set img {
  width: 100%;
  height: 100%;
  position: relative;
}

.production__image-set::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  width: 0.5px;
  height: 60px;
  transition: height 0.5s ease-in-out;
}

.production__image-set.hover::after {
  height: 60px;
  border: #a9aca9 solid 0.8px;
}

.production__image-set.selected::after {
  height: 60px;
  border: #a9aca9 solid 0.8px;
}

.production__image-set:not(.hover):not(.selected)::after {
  height: 0;
}

.production__image-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.production__number .number {
  display: block;
  position: absolute;
  top: -40px;
  margin-left: 10px;
}

.production__image-content :nth-child(4) {
  margin-right: 0px;
}

.production__image-set {
  width: clamp(15rem, 14.545rem + 2.27vw, 16.25rem);
  margin-right: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.production__image1,
.production__image2,
.production__image3 {
  display: block;
}

.production__text-set {
  text-align: center;
  margin: 40px 20px 0;
}

.production__images-text-set {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: left;
}

.production__images-title {
  font-size: clamp(1.3rem, 1.5rem + 0.2vw, 1.5vw);
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.1rem;
  margin-left: 30px;
}

.production__images-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0.1rem;
}

.production__images-item {
  display: none;
  width: 100%;
  text-align: center;
  height: 300px;
}
.production__images-item.active {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.5s ease;
  height: 300px;
}
.production__images-item.active.show {
  opacity: 1;
  transform: translateY(0);
}

.shop__link {
  display: block;
  text-align: center;
}

.shop__link-btn {
  display: inline-block;
  color: #f8f7f7;
  margin-top: 160px;
  background: #272323;
  font-size: 1.2rem;
}
.shop__link-btn span {
  display: block;
  padding: 10px 15px;
  border: #949494 1px solid;
}
.shop__link-btn:hover {
  color: #070707;
  background-color: #f8f7f7;
  transition: all 0.5s ease-in-out;
}

.wika-text {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
  color: #b3b3b3;
}

@media screen and (max-width: 1100px) {
  #production {
    height: 900px;
    position: relative;
  }
  .production__images-item,
.production__images-item.active {
    height: auto;
  }
  .production__images-text-set {
    display: block;
    padding: 0 10% 10% 10%;
    text-align: justify;
  }
  .production__images-title {
    writing-mode: horizontal-tb;
    letter-spacing: 0.1rem;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .production__images-text {
    text-orientation: upright;
    writing-mode: horizontal-tb;
    line-height: 2rem;
  }
  .shop {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .shop__link-btn {
    display: inline-block;
    color: #f8f7f7;
    margin-top: 20px;
    background: #272323;
    font-size: 1.2rem;
  }
}
@media (max-width: 535px) {
  #production {
    height: 900px;
  }
  .production__images-text {
    font-size: 0.9rem;
  }
  .wika-text {
    font-size: 0.8rem;
  }
  .shop__link-btn {
    margin-top: 60px;
  }
  .shop__link-btn span {
    white-space: nowrap;
  }
}
/* contact */
.contact-set {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
  display: grid;
  justify-items: center;
  align-items: center;
}
#contact::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/get_in_touch.webp) no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.contact__title {
  font-size: 6rem;
  position: absolute;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: #f8f7f7;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  scrollbar-width: none;
}

.contact-modal__content {
  background-color: #f8f7f7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #7c7c7c;
  width: 800px;
  height: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.contact-modal__content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.close {
  color: rgba(20, 20, 20, 0.937254902);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #070707;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
form label {
  font-weight: bold;
  margin-bottom: 5px;
}
form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form textarea {
  resize: none;
}
form .submit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
form button {
  padding: 10px 20px;
  background-color: #070707;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
form button:hover {
  background-color: #3a5537;
}

@media (max-width: 1300px) {
  .contact-modal__content {
    margin: 5% auto;
  }
}
@media (max-width: 960px) {
  .contact-modal__content {
    margin: 15% auto;
    width: 90%;
    height: auto;
  }
  .contact-modal__content h2 {
    font-size: 1.5rem;
  }
  form button {
    width: 60%;
  }
  form .submit-button-container {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 4rem;
  }
}
@media (max-width: 550px) {
  .contact__title {
    font-size: 3rem;
  }
  .contact-modal__content {
    margin: 25% auto;
  }
}
/* footer */
#footer {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(180deg, #272323, #464545);
  position: relative;
  padding-bottom: 20px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__nav {
  display: flex;
  flex-flow: column;
  margin-left: 15px;
  margin-top: 70px;
}
.footer__nav ul {
  z-index: 1;
}

.footer__li {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  width: 200px;
  margin-top: 20px;
  color: #b4b2b2;
}
.footer__li:hover {
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-shop-jump {
  font-size: 0.8rem;
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #b4b2b2;
  letter-spacing: 1px;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 1;
  margin-top: 70px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  text-align: left;
}

.address__item {
  margin-top: 20px;
}

.footer__footer {
  display: flex;
  justify-content: center;
}

.footer__izuki {
  bottom: 60px;
  position: absolute;
  font-size: clamp(1.5rem, 19vw, 21vw);
  font-weight: 700;
  color: #2e2e2e;
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-size: 0.9rem;
  margin-top: 100px;
  bottom: 10px;
  white-space: nowrap;
  color: #7c7c7c;
}

@media (max-width: 960px) {
  #footer {
    height: 600px;
  }
}
@media (max-width: 550px) {
  #footer {
    height: 500px;
  }
  .footer__li {
    font-size: 13px;
  }
  .address__item {
    font-size: 13px;
  }
  .footer__izuki {
    bottom: 40px;
  }
  .footer__copyright {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */